In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

dream_df = pd.read_excel('/Users/seanyu_mac/Downloads/0115_드림약사 오메가3 매출데이터_250115.xlsx')
mh_df = pd.read_excel('/Users/seanyu_mac/Downloads/명훈약사 slb 매출데이터.xlsx')
ue_df = pd.read_excel('/Users/seanyu_mac/Downloads/유이약사x헬스베버리지 250115 (1).xlsx')

In [24]:
# 2박스 70,900 / 8박스 222,000 / 4박스 125,600

four_box = dream_df['옵션정보'].unique()[0]
two_box = dream_df['옵션정보'].unique()[1]
eight_box = dream_df['옵션정보'].unique()[2]

dream_df['price'] = 0
dream_df.loc[dream_df['옵션정보'] == two_box, 'price'] = 70900
dream_df.loc[dream_df['옵션정보'] == four_box, 'price'] = 125600
dream_df.loc[dream_df['옵션정보'] == eight_box, 'price'] = 222000

dream_df['sales'] = dream_df['price'] * dream_df['수량']

In [26]:
df_dream = dream_df[['주문일시', 'sales']]
df_dream.rename(columns={'주문일시': 'time'}, inplace=True)
df_dream

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/583606636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dream.rename(columns={'주문일시': 'time'}, inplace=True)

                   time   sales
0   2025-01-15 15:27:00  125600
1   2025-01-15 15:19:00   70900
2   2025-01-15 15:19:00   70900
3   2025-01-15 15:18:00  125600
4   2025-01-15 15:16:00  125600
..                  ...     ...
358 2025-01-15 10:00:00  222000
359 2025-01-15 10:00:00  125600
360 2025-01-15 10:00:00   70900
361 2025-01-15 10:00:00   70900
362 2025-01-15 10:00:00   70900

[363 rows x 2 columns]

In [28]:
df_dream.groupby(pd.Grouper(key='time', freq='30T'))['sales'].sum()

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/1190186150.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_dream.groupby(pd.Grouper(key='time', freq='30T'))['sales'].sum()

time
2025-01-15 10:00:00    14500800
2025-01-15 10:30:00     5445500
2025-01-15 11:00:00     4221600
2025-01-15 11:30:00     3374800
2025-01-15 12:00:00     2789000
2025-01-15 12:30:00     2739900
2025-01-15 13:00:00     2581900
2025-01-15 13:30:00     1815800
2025-01-15 14:00:00     1342600
2025-01-15 14:30:00     1877400
2025-01-15 15:00:00     1249900
Freq: 30min, Name: sales, dtype: int64

In [30]:
df_dream.groupby(pd.Grouper(key='time', freq='1H'))['sales'].sum()

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/1666673863.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_dream.groupby(pd.Grouper(key='time', freq='1H'))['sales'].sum()

time
2025-01-15 10:00:00    19946300
2025-01-15 11:00:00     7596400
2025-01-15 12:00:00     5528900
2025-01-15 13:00:00     4397700
2025-01-15 14:00:00     3220000
2025-01-15 15:00:00     1249900
Freq: h, Name: sales, dtype: int64

In [32]:
df_dream.groupby(pd.Grouper(key='time', freq='3H'))['sales'].sum()

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/1262616481.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_dream.groupby(pd.Grouper(key='time', freq='3H'))['sales'].sum()

time
2025-01-15 09:00:00    27542700
2025-01-15 12:00:00    13146600
2025-01-15 15:00:00     1249900
Freq: 3h, Name: sales, dtype: int64

In [34]:
df_dream.groupby(pd.Grouper(key='time', freq='6H'))['sales'].sum()

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/3745953493.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_dream.groupby(pd.Grouper(key='time', freq='6H'))['sales'].sum()

time
2025-01-15 06:00:00    27542700
2025-01-15 12:00:00    14396500
Freq: 6h, Name: sales, dtype: int64

In [36]:
df_dream.groupby(pd.Grouper(key='time', freq='1D'))['sales'].sum()

time
2025-01-15    41939200
Freq: D, Name: sales, dtype: int64

In [44]:
mh_df.columns

Index(['결제번호', '최초배송비번호', '주문번호', '주문상태', '채널', '발송요청일', '채널상품번호', '상품명', '옵션',
       '수량', '상품금액', '옵션금액', '판매자할인금액', '판매자쿠폰할인금액', '정산기준금액', '기본수수료',
       '노출추가수수료', '추천리워드수수료', '수수료할인금액', '주문일', '송장입력일', '취소완료일', '환불완료일',
       '배송예정일', '판매자상품번호', '배송방법', '택배사', '송장번호', '배송비지불방법', '기본배송비 유형',
       '기본배송비 금액', '도서산간 추가 배송비 금액', '리워드율', '리워드금액', '브랜드', '모델명', '유입경로',
       '옵션코드', '톡딜여부', '상품유형', 'biz판매여부 '],
      dtype='object')

In [48]:
mh_df = pd.read_csv('/Users/seanyu_mac/Downloads/명훈약사 slb 매출데이터.xlsx - Sheet0.csv')
mh_df.head(3)

   price  sales  수량                 time
0  88000  88000   1  2025-01-15 16:23:28
1  88000  88000   1  2025-01-15 12:55:20
2  88000  88000   1  2025-01-15 12:52:50

In [58]:
mh_df['time'] = pd.to_datetime(mh_df['time'])
df = pd.DataFrame(mh_df.groupby(pd.Grouper(key='time', freq='30T'))['sales'].sum())
df.to_excel('/Users/seanyu_mac/Downloads/명훈약사 slb 매출데이터111.xlsx')

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_41200/300721707.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df = pd.DataFrame(mh_df.groupby(pd.Grouper(key='time', freq='30T'))['sales'].sum())