In [256]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

df = pd.read_csv('/Users/seanyu_mac/Downloads/public_consulting_export_2025-01-06_115107.csv')
pharmacist_df = pd.read_csv('/Users/seanyu_mac/Downloads/public_admin_export_2025-01-06_143622.csv')
df.columns

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_96870/2856027951.py:5: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/seanyu_mac/Downloads/public_consulting_export_2025-01-06_115107.csv')

Index(['id', 'user_id', 'title', 'content', 'answer', 'referer', 'status',
       'reg_id', 'reg_dt', 'upd_dt', 'del_yn', 'consulting_type',
       'attached_image', 'youtube_video_id', 'answer_dt', 'review_score',
       'profile_id', 'profile_answer', 'analysis_id', 'read_yn',
       'related_video_id', 'public_request', 'public_yn', 'recommend_items',
       'answer_type', 'answer_user_id', 'related_video_ids', 'del_dt',
       'answer_pharmacy_id', 'update_user_type', 'admin_memo',
       'recommend_product_ids', 'auto_complete_yn', 'referer_detail',
       'pharmacy_check_request', 'confirm_dt', 'consulting_category',
       'related_url', 'answer_start_dt', 'kakao_notification_count',
       'to_pharmacy_memo', 'disable_answer', 'pharmacy_title_code',
       'consulting_product', 'product_from_attach_image', 'read_dt',
       'pharmacy_answer', 'bookmark_user_ids', 'curious_user_ids',
       'summary_keyword', 'summary_yn', 'helpful_user_ids', 'reply_yn',
       'admin_del_yn', 'corka_answer_request_yn',
       'corka_answer_request_message_id', 'corka_answer',
       'corka_answer_request_conversion_id', 'corka_answer_get_try_count',
       'memo', 'visible_answer_pharmacist_id', 'consulting_profile_id',
       'request_type', 'is_from_analysis', 'is_error_analysis', 'view_count'],
      dtype='object')

In [242]:
df['reply_yn'].unique()

array(['N', 'Y'], dtype=object)

In [257]:
df = df[['id', 'user_id', 'referer', 'reg_dt', 'del_yn', 'answer_dt', 'public_yn', 'recommend_product_ids', 'answer_user_id', 'reply_yn', 'answer_pharmacy_id']]

In [252]:
df.head(3)

,id,user_id,referer,reg_dt,del_yn,answer_dt,public_yn,recommend_product_ids,answer_user_id,reply_yn,pharmacy_answer
0,21115,d687cfb3-60d1-48fd-a3dc-9bc3fc389c88,main,2024-07-04 07:02:42.684731,N,2024-07-09 04:59:40.350041,N,"[27052,24250,1755,23893]",70.0,N,NaN
1,4280,ea826e55-09a9-4234-9698-fa73339b28b8,main,2023-12-01 03:14:34.118463,N,2023-12-01 04:02:32.619723,Y,[25717],21.0,N,NaN
2,35941,07c8cb79-d2f6-4a49-803b-cd3144bd9e50,pharmacistDiet,2024-12-16 05:43:43.995,N,NaN,N,NaN,71.0,N,NaN

In [260]:
pharmacist_df.rename(columns={'id' : 'answer_pharmacy_id'}, inplace=True)
pharmacist_df

,answer_pharmacy_id,role_type,password,name,email,mobile,verify_yn,reg_dt,last_login_dt,upd_dt,...,del_yn,del_dt,profile_img,manage_pharmacy_id,group_buy_flag,kakao_send_yn,pharmacy_type,start_answer_limit,is_manager,is_counsel_pharmacist
0,122,acdm,74069b792b370fd9ca1a455fb9e6777036486f6a5ce2d9...,박소희,mona@pharma-bros.com,010-0000-0000,Y,2024-12-09 08:25:00.635095,2024-12-12 04:45:36.643447,2024-12-09 08:33:50.437783,...,N,NaN,NaN,NaN,N,Y,NaN,NaN,True,False
1,15,acdm,093685886a5942678ba7729fc2e1c84333884a8f2c2595...,bella,bella@pharma-bros.com,NaN,Y,2022-12-08 02:00:57.743402,2022-12-08 08:26:47.304668,2022-12-08 04:24:36.521675,...,Y,2022-12-08 04:20:43.880887,NaN,NaN,N,Y,NaN,NaN,True,False
2,92,phar,ca1441b892661f5aaeef5db340a3e8d8eece9bb8bbb183...,김미성,kms0801@hanmail.net,010-3643-2507,Y,2024-03-28 00:14:51.163108,2024-10-29 03:52:11.335309,2024-10-28 13:42:42.97018,...,N,NaN,https://d1r0f51o4pfsh8.cloudfront.net/user_pro...,NaN,Y,Y,work,NaN,False,True
3,72,phar,ace6a3af46611e37973460ca535d6dc86d58a747e3bf59...,명훈,pharm3580@naver.com,010-5096-8869,Y,2024-01-08 10:54:01.782483,2024-06-19 03:09:11.895843,2024-01-15 06:55:22.727082,...,N,NaN,https://d1r0f51o4pfsh8.cloudfront.net/admin_pr...,NaN,Y,Y,work,NaN,False,True
4,101,acdm,9e119df23b388f6c1b6d13ad84a0bc59b79a7d248aba16...,TESTER,dev@pharma-bros.com,01000000000,Y,2024-02-20 06:16:51.890293,2024-08-01 02:28:21.296737,2024-05-30 11:05:17.446465,...,N,NaN,https://s3-ydy-maphacy.s3.ap-northeast-2.amazo...,"[9999,56]",N,N,NaN,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,96,phar,9e119df23b388f6c1b6d13ad84a0bc59b79a7d248aba16...,류지환,distinct19@gmail.com,01030153414,Y,2024-06-12 09:00:35.910603,2024-09-05 03:05:32.276377,2024-06-29 05:43:19.747464,...,Y,NaN,NaN,NaN,N,Y,NaN,NaN,False,False
98,76,phar,241730cfa8dee96054c5b7e11dcc1f52877e88cc43979d...,정인지,dobi.yaksa@gmail.com,010-4932-4901,Y,2024-01-22 02:26:39.209653,2024-09-19 01:48:47.126918,2024-03-15 04:43:55.653459,...,N,NaN,https://d1r0f51o4pfsh8.cloudfront.net/user_pro...,NaN,Y,Y,NaN,NaN,False,True
99,102,phar,382ace0cded2b7b880391d0c39003749e41c19ca35b697...,임지윤,geo@pharma-bros.com,010-7670-8646,Y,2024-07-30 01:29:35.180934,2024-12-23 12:37:15.478978,2024-07-30 01:30:17.66454,...,N,NaN,NaN,NaN,Y,Y,NaN,NaN,False,False
100,104,phar,1ca666a3ded95d40be054eb4585aa520986bc0345c7005...,곽예은,kkyenny@naver.com,010-5572-3511,Y,2024-07-31 08:32:29.16303,2024-11-29 03:40:35.367991,2024-08-13 00:44:48.492781,...,N,NaN,https://d1r0f51o4pfsh8.cloudfront.net/user_pro...,NaN,Y,Y,NaN,NaN,False,True
101,60,phar,a10b92c0a51e0e47060e43a26c35256fdd012c0960147a...,임별(뵤리약사),flaqufzz@naver.com,010-6315-0156,Y,2023-09-06 02:02:30.611933,2024-04-26 02:21:50.14495,2024-03-24 03:08:37.73232,...,N,NaN,https://d1r0f51o4pfsh8.cloudfront.net/admin_pr...,NaN,Y,Y,group_buy,NaN,False,True

In [262]:
df['reg_dt'] = df['reg_dt'].str[:10]
df['reg_dt'] = pd.to_datetime(df['reg_dt'])

df['answer_dt'] = df['answer_dt'].str[:10]
df['answer_dt'] = pd.to_datetime(df['answer_dt'])

In [264]:
# 월별 상담건수 (2024년)
# 일자별 평균 상담건수 (2024년)
# 월별 평균 답변 소요시간
# 답변 공개 비율
# 추천 제품 작성 비율
# 경로별 상단 인입 비율

In [266]:
# 2024년에 등록된 상담만 따로 추출
con1 = df['reg_dt'] >= datetime(2024, 1, 1)
con2 = df['reg_dt'] <= datetime(2024, 12, 31)
df = df[con1 & con2]
df.drop(df[df['answer_dt'].isna()].index, inplace=True)

In [270]:
df = pd.merge(df, pharmacist_df[['answer_pharmacy_id', 'name']], how='inner', on='answer_pharmacy_id')
df.head(3)

,id,user_id,referer,reg_dt,del_yn,answer_dt,public_yn,recommend_product_ids,answer_user_id,reply_yn,answer_pharmacy_id,name
0,21115,d687cfb3-60d1-48fd-a3dc-9bc3fc389c88,main,2024-07-04,N,2024-07-09,N,"[27052,24250,1755,23893]",70.0,N,20.0,고상온
1,12975,da8d7196-b8a9-4358-af13-20052b4729c0,main,2024-04-02,N,2024-04-08,Y,NaN,14.0,N,81.0,김춘호
2,34416,e6e49c27-b80d-4e0a-abe3-d7efab364573,adminProfile,2024-11-25,N,2024-11-29,N,"[26671,25717]",54.0,N,20.0,고상온

In [214]:
# 월별 상담 건수 / 일자별 평균 상담 건수
df['reg_month'] = df['reg_dt'].dt.month
df1 = df.groupby('reg_month').size().reset_index(name='count')
df1['avg_daily_count'] = np.round(df1['count'] / 30, 0)
df1.rename(columns={'count' : 'avg_monthly_count'}, inplace=True)
df1

    reg_month  avg_monthly_count  avg_daily_count
0           1               2140             71.0
1           2               1746             58.0
2           3               2756             92.0
3           4               2440             81.0
4           5               2301             77.0
5           6               2322             77.0
6           7               2464             82.0
7           8               1721             57.0
8           9               1446             48.0
9          10               1606             54.0
10         11               1712             57.0
11         12               1274             42.0

In [216]:
# 월별 평균 답변 소요시간
df['taken_time'] = df['answer_dt'] - df['reg_dt']
df1['avg_taken_time'] = df.groupby('reg_month')['taken_time'].mean().tolist()
df1.to_excel('/Users/seanyu_mac/Downloads/2024_consult_overview.xlsx')

In [218]:
# 상담 공개 비율
df['public_yn'].value_counts()[1] / df['public_yn'].value_counts()[0] * 100

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_96870/3268147397.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['public_yn'].value_counts()[1] / df['public_yn'].value_counts()[0] * 100
/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_96870/3268147397.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['public_yn'].value_counts()[1] / df['public_yn'].value_counts()[0] * 100

43.8067191537953

In [220]:
# 추천 제품 작성 비율
df[df['recommend_product_ids'].isna()].size / df.size * 100

50.8859913072551

In [300]:
con1 = df['reg_dt'] >= datetime(2024, 12, 1)
con2 = df['reg_dt'] <= datetime(2024, 12, 31)
temp_df = df[con1 & con2]
temp_df.groupby('name').size().sort_values(ascending=False)

name
고상온         391
안재돈         210
이평화         114
임상우         102
남기헌         101
김소정          94
심혜란          89
이수찬          41
이종우          40
정인지          29
박소윤          14
친한           13
김춘호          13
임별(뵤리약사)     11
이재연          10
최형재           9
변종석           9
임별            2
황아리           2
명훈            2
김혜란           2
김민선           2
김미성           2
고신형           2
배혜정           1
김가영           1
marco         1
dtype: int64