In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

df = pd.read_csv('/Users/seanyu_mac/Downloads/public_daily_access_log_export_2024-11-18_171614.csv')
df.head(3)

,id,user_id,device_id,access_date,created_at
0,1,c8313ed7-1dc9-4267-a9cd-f5ab98cfa03d,994087da-b2fc-4e4a-b1fb-b7d9f7689161,2024-10-07,2024-10-07 00:21:40.801
1,2,947e597c-776f-43d8-bf83-5724faae61f7,6cd11f67-bf2a-4a5a-8871-7c59b2dbbc4e,2024-10-07,2024-10-07 00:23:42.744
2,3,c3f1092d-2028-4d25-b533-ff4d6caf21ac,f58afcf3-8d51-4a3c-86e9-09d48c28b0d6,2024-10-07,2024-10-07 01:06:35.559

In [22]:
df['access_date'] = pd.to_datetime(df['access_date'])
df['created_at'] = pd.to_datetime(df['created_at'], format='mixed')
df

,id,user_id,device_id,access_date,created_at
0,1,c8313ed7-1dc9-4267-a9cd-f5ab98cfa03d,994087da-b2fc-4e4a-b1fb-b7d9f7689161,2024-10-07,2024-10-07 00:21:40.801
1,2,947e597c-776f-43d8-bf83-5724faae61f7,6cd11f67-bf2a-4a5a-8871-7c59b2dbbc4e,2024-10-07,2024-10-07 00:23:42.744
2,3,c3f1092d-2028-4d25-b533-ff4d6caf21ac,f58afcf3-8d51-4a3c-86e9-09d48c28b0d6,2024-10-07,2024-10-07 01:06:35.559
3,4,a51fdaca-f9eb-4d2a-a6c7-8eda11ee753e,d4d35d5b-4c8c-4a2e-ac28-f7eec85e7583,2024-10-07,2024-10-07 02:33:39.855
4,5,183b7feb-3cb1-4d13-b9ee-2b7730b7e5fa,d15a7fd3-0ac5-4e98-b898-b1a07e986c79,2024-10-07,2024-10-07 03:01:55.512
...,...,...,...,...,...
9309,9318,53c14a7c-dd25-4497-8a8b-57afb2b082d8,a84ac206-6b34-432d-8ebc-c854eed08653,2024-11-18,2024-11-18 08:06:32.520
9310,9319,019ad7b2-9287-485a-b205-7249cecd47ba,3ebddecc-4575-4d81-adc5-3ceb35d43f19,2024-11-18,2024-11-18 08:08:26.299
9311,9320,bd91fc2f-9142-403e-804b-1a18e2c61cc6,d6a20dc6-07bd-49bc-87e4-6b11af533055,2024-11-18,2024-11-18 08:10:41.694
9312,9321,c7d05680-001a-4f81-af40-08291351615f,8b61c122-c5fa-41ff-b98c-e734eb7c606c,2024-11-18,2024-11-18 08:11:38.729
9313,9322,19b75080-7eda-482b-bb58-6f6489700981,2d8d09b7-d88b-4ebc-84ed-462ed026f2d9,2024-11-18,2024-11-18 08:12:38.753

In [66]:
today = df.loc[0, 'access_date']
today_minus_30 = today - timedelta(days=30)
first_day = datetime(2024, 10, 7)
last_day = datetime(2024, 11, 9)

con1 = df['created_at'] > first_day
con2 = df['created_at'] < last_day
len(df.loc[con1 & con2, 'user_id'])

6660

In [70]:
con1 = df['created_at'] > first_day
con2 = df['created_at'] < last_day
len(df.loc[con1 & con2, 'user_id'].unique())

1627

In [72]:
df['access_date'].min()

Timestamp('2024-10-07 00:00:00')