In [114]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# df1은 고칠필요 없음
# df2 = 스타팜
# df3 = 파마브로스
# df4~ = 친한스토어

df1 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162337.xlsx')
df2 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162506.xlsx')
df3 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162558.xlsx')
df4 = pd.read_excel('/Users/seanyu_mac/Downloads/report.xlsx')
df5 = pd.read_excel('/Users/seanyu_mac/Downloads/report (1).xlsx')

# rate function
def rate(before, after):
    data = (after - before) / before * 100
    data = np.round(data, 1)
    return data
    
kakao_df = pd.concat([df1, df2, df3])
cs_df = pd.concat([df4, df5])

kakao_df.drop(kakao_df[kakao_df['취소완료일'].isna() == False].index, inplace=True)
cs_df.drop(cs_df[(cs_df['주문 상태'] == '반품완료') | (cs_df['주문 상태'] == '취소완료') | (cs_df['주문 상태'] == '판매자취소')].index, inplace=True)

kakao_df['date'] = kakao_df['발송요청일']
kakao_df['order_id'] = kakao_df['주문번호']
kakao_df['name'] = kakao_df['상품명']
kakao_df['quantity'] = kakao_df['수량']
kakao_df['sales'] = kakao_df['정산기준금액']

cs_df['date'] = cs_df['결제 완료일']
cs_df['order_id'] = cs_df['주문 번호']
cs_df['name'] = cs_df['옵션명']
cs_df['quantity'] = cs_df['수량']
cs_df['sales'] = cs_df['정산가']

kakao_df = kakao_df[['order_id', 'date', 'name', 'quantity', 'sales']]
cs_df = cs_df[['order_id', 'date', 'name', 'quantity', 'sales']]
df = pd.concat([kakao_df, cs_df])
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.strftime('%m')
df['day'] = df['date'].dt.strftime('%Y-%m-%d')
df

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,order_id,date,name,quantity,sales,month,day
0,2365385819,2024-01-17 15:22:16.000,[상담전용/위키약사] YDY 폴라초임계오메가3 1박스(1개월분),2,53200,01,2024-01-17
1,2365317363,2024-01-17 14:04:26.000,[상담전용/위키약사] YDY 파이토 레드큐민 1박스(1개월분) /커큐민,1,48450,01,2024-01-17
3,2364669586,2024-01-16 20:28:56.000,[상담전용/위키약사] YDY 폴라초임계오메가3 1박스(1개월분),1,26600,01,2024-01-16
4,2364647115,2024-01-16 20:03:24.000,[상담전용/위키약사] YDY 액티브비큐텐 1박스(1개월분),1,33250,01,2024-01-16
5,2364635887,2024-01-16 19:50:40.000,[상담전용/친한약사] YDY 파이토 레드큐민 1박스(1개월분) /커큐민,1,48450,01,2024-01-16
...,...,...,...,...,...,...,...
54,50041-50055,2024-10-06 21:55:24.155,[스페셜할인코드/고상온약사] YDY 폴라초임계오메가3 1박스(1개월분),1,26600,10,2024-10-06
55,50041-50056,2024-10-06 21:55:24.155,[스페셜할인코드/고상온약사] YDY 액티브비큐텐 1박스(1개월분),1,33250,10,2024-10-06
56,50053-50075,2024-10-09 21:14:33.550,[스페셜할인코드/봄약사] YDY 프로바이오 에스엘비 1박스(2개월분),1,42750,10,2024-10-09
58,50032-50043,2024-10-05 00:10:10.254,[스페셜할인코드/남기헌약사] YDY 풀스펙멀티비타민 1박스(1개월분),1,21370,10,2024-10-05
59,50026-50034,2024-10-01 11:59:43.657,[스페셜할인코드/남기헌약사] YDY 내몸에 효소가득 1박스 (30일분),1,28500,10,2024-10-01

In [102]:
monthly_sales_df = pd.DataFrame(df.groupby('month')['sales'].sum())
monthly_sales_df

          sales
month
01      7006530
02     11598430
03     18082730
04     22880270
05     17024170
06     13690920
07     15546860
08     19558230
09     17133170
10     14507800
11      3002910

In [134]:
monthly_sales_df['sales'].sum() - 3002910

157029110

In [126]:
# 2024년 9월 1일 이전까지 일별 매출
con = df['date'] < datetime(2024, 11, 1)
df.loc[con, 'sales'].sum() / len(df.loc[con, 'day'].unique())

535935.5290102389

In [128]:
# 2024년 9월 1일 이전까지 arpu
df.loc[con, 'sales'].sum() / len(df.loc[con, 'order_id'].unique())

46944.42750373692

In [130]:
rate(19558230, 17133170)

-12.4

In [148]:

df1 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162337.xlsx')
df2 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162506.xlsx')
df3 = pd.read_excel('/Users/seanyu_mac/Downloads/20241104162558.xlsx')
df4 = pd.read_excel('/Users/seanyu_mac/Downloads/report.xlsx')
df5 = pd.read_excel('/Users/seanyu_mac/Downloads/report (1).xlsx')

# rate function
def rate(before, after):
    data = (after - before) / before * 100
    data = np.round(data, 1)
    return data
    
kakao_df = pd.concat([df1, df2, df3])
cs_df = pd.concat([df4, df5])

cs_df.columns

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['결제 번호', '상품 번호', '주문 번호', '결제 완료일', '주문 상태', '상품명', '옵션명', '수량', '정상가',
       '판매가', '쿠폰 할인', '포인트 할인', '적립금', '정산가', '수령인명', '수령인 연락처', '구매자명',
       '구매자 ID', '구매자 연락처', '주소', '우편번호', '배송매모', '주문 확인일', '발주 요청일', '배송 완료일',
       '구매 확정일', '배송택배사', '송장 번호', '배송비 정책', '배송비', '도서산간 배송비', '취소 완료일',
       '판매자 취소일', '반품 요청일', '수거 요청일', '수거 완료일', '반품 완료일'],
      dtype='object')

In [154]:
cs_df['수령인명'].unique()

array(['김용완', '류가인', '정사임', '유신홍', '유승우', '김가현', '김호윤', '황진환', '유지영',
       '이지수', '한승연', '강유정', '최지현', '김인섭', '테스트', '김지수', '강미란', '김성호',
       '강윤희', '이강미', '장수목', '소수진', '정희원', '이선홍', '황지율', '문혜진', '이성영',
       '이소희', '이하영', '이민선', '김미진', '박은정', '조이진', '하지혜', '안지인', '김미숙',
       '유영은', '박미주', '김건우', '고상원', '박성희', '이경희', '진영수', '이진선', '이윤란',
       '진수지', '박주현', '형남길', '김판규', '김재윤', '이은영', '백소정', '김민정', '이경순',
       '이현화', '박춘애', '오학자', '최보경', '신윤서', '강진혁', '박종찬', '이윤정', '김수진',
       '정지은', '이세준', '한용운', '김도형', '황주영', '이금주', '김민기', '이인규', '장진선',
       '박세란', '최인자', '김윤경', '서미림', '오헌준', '유휘수', '장혜옥', '이승욱', '전지원',
       '신채민', '김채성', '김영진', '박영주', '이수진', '박미영', '김성옥', '정수경', '진영실',
       '오영규', '내꺼', '석채현', '박종민', '이상민'], dtype=object)