In [95]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

df = pd.read_csv('/Users/seanyu_mac/Downloads/public_pb_user_auth_info_export_2025-02-04_105514.csv')
df.head(1)

,id,email,sns_type,sns_id,nickname,name,password,birthday,phone,sex,...,ci,is_connect,created_at,updated_at,is_delete,deleted_at,delete_reason,user_id,display_email,settings
0,130549b7-128f-46ee-991f-75b35bebfa55,lover0422@naver.com,kakao,3198349564,배현우,배현우,NaN,19871019.0,1.077714e+09,남자,...,xHoltYhdt2IwyMl5k2YHxyza2orMmuvQjvoDUxVWzDV4xJ...,False,2024-07-31 15:56:23.226,2024-07-31 15:56:23.226,False,NaN,NaN,44d5e32d-507d-421e-821f-53462d7756b9,NaN,"{""sms"":{""value"":true,""updated_at"":""2024-07-31T..."

In [107]:
kakao = df['sns_type'].value_counts()[0]
email = df['sns_type'].value_counts()[1]
apple = df['sns_type'].value_counts()[2]
kakao / (kakao + email + apple)

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_5749/692181866.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  kakao = df['sns_type'].value_counts()[0]
/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_5749/692181866.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  email = df['sns_type'].value_counts()[1]
/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_5749/692181866.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  apple = df['sns_type'].value_counts()[2]

0.9366274509803921

In [84]:
df['sns_type'].unique()

array(['kakao', 'email', 'apple'], dtype=object)

In [74]:
apple_ci = df.loc[(df['phone'] == 1025807845) & (df['sns_type'] == 'apple'), 'ci']
kakao_ci = df.loc[(df['email'] == 'gain0921@gmail.com') & (df['sns_type'] == 'kakao'), 'ci']
email_ci = df.loc[(df['email'] == 'kainy2109@gmail.com') & (df['email'] == 'email'), 'ci']
apple_ci.values

array([], dtype=object)

In [66]:
kakao_ci.values

array(['lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0vVDH66M80Nrcy9MCcjEKNk72O3wmmmT/YZQ1VRz3g=='],
      dtype=object)

In [76]:
email_ci.values

array([], dtype=object)

In [8]:
df.loc[df['phone'] == 1025807845, 'ci']

12285    lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0v...
Name: ci, dtype: object

In [92]:
df[df['name'] == '류가인']

,id,email,sns_type,sns_id,nickname,name,password,birthday,phone,sex,...,ci,is_connect,created_at,updated_at,is_delete,deleted_at,delete_reason,user_id,display_email,settings
12296,9e04c739-1795-40a3-801d-24a17ac09318,kainy2109@gmail.com,email,NaN,평화로운병아리6633,류가인,bd877cf94f1a63123c8bec5abdd126b988361989e473ef...,19930921.0,1.025808e+09,여자,...,lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0v...,False,2025-02-04 01:48:52.912,2025-02-04 01:48:52.912,False,NaN,NaN,504e4f85-4242-4b0e-b3e7-9eb43579047c,kainy2109@gmail.com,{}

In [88]:
df.loc[df['ci'] == 'lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0vVDH66M80Nrcy9MCcjEKNk72O3wmmmT/YZQ1VRz3g==']

,id,email,sns_type,sns_id,nickname,name,password,birthday,phone,sex,...,ci,is_connect,created_at,updated_at,is_delete,deleted_at,delete_reason,user_id,display_email,settings
12279,9c7c16ea-eb1d-4fa3-9ef9-191278d9f897,gain0921@gmail.com,kakao,3436471607,감미로운코알라0034,NaN,NaN,NaN,NaN,NaN,...,lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0v...,False,2025-02-04 01:36:45.776,2025-02-04 01:36:45.776,False,NaN,NaN,d4febdc9-e9e4-423c-b6e4-51aba99cceda,gain0921@gmail.com,{}
12296,9e04c739-1795-40a3-801d-24a17ac09318,kainy2109@gmail.com,email,NaN,평화로운병아리6633,류가인,bd877cf94f1a63123c8bec5abdd126b988361989e473ef...,19930921.0,1.025808e+09,여자,...,lqdMwFg9UfHIvkIY00H7TNEezGpf2QEjsN+47tzPwukE0v...,False,2025-02-04 01:48:52.912,2025-02-04 01:48:52.912,False,NaN,NaN,504e4f85-4242-4b0e-b3e7-9eb43579047c,kainy2109@gmail.com,{}