In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

In [2]:
df = pd.read_excel('/Users/seanyu_mac/Downloads/주문내역_51269_2024-04-22~2025-04-22.xlsx')

In [3]:
df = df[df['주문 상태'] == '결제완료']

In [4]:
df['결제 완료일'] = df['결제 완료일'].apply(lambda x: x.strftime('%Y-%m-%d'))
temp_df = pd.pivot_table(df, index=['결제 완료일','옵션명'], values='정산가', aggfunc='sum', margins=True, margins_name='합계')

In [5]:
col = pd.pivot_table(df, index=['결제 완료일','옵션명'], values='결제 번호', aggfunc='count', margins=True, margins_name='합계')['결제 번호']
temp_df['주문수량'] = col

In [6]:
temp_df.rename(columns={'정산가': '매출'})
a = 12*3 +  3*2 + 6*9
temp_df['박스수량'] = [12*3, 3*2, 6*9, a]

In [13]:
temp_df

                                     정산가  주문수량  박스수량
결제 완료일     옵션명
2025-04-22 12박스 (총 12개월분)_50%할인   780000     3    36
           3박스 (총 3개월분)_31%할인     178000     2     6
           6박스 (총 6개월분)_45%할인    1278000     9    54
합계                               2236000    14    96