In [70]:
import pandas as pd

df = pd.read_csv('/Users/seanyu_mac/Downloads/[공구] 일정 신청 및 관리 시트 - 공구전체일정.csv')
df.head(3)

,Unnamed: 0,공구 확정 일정,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,확정된 공구 내용 세부는 https://forms.gle/pDG3ZmKVKxMqfJ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"오메가, 마그네슘, 비타민B군, 비타민D군, 비타민C군, 철분, 커큐민",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2개까지만 중복 가능 / 오메가3는 4개,NaN,NaN,NaN,NaN,NaN
2,운영시트반영,진행상황-업체,닉네임,약사 이름,공급사,차수,제품명,시작일,종료일,연간 주차,제품카테고리,비고(특이사항 등),이벤트,업체별 담당자,NaN,NaN

In [74]:
df.columns = df.loc[2]
df.drop(2, inplace=True)
df.reset_index(inplace=True)

In [80]:
df.drop([0,1], inplace=True)
df.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [82]:
df['공급사'].unique()

array(['트루엔', '일동제약', '더좋은', '담백하루', '안국건강', 'YDY뉴트리션', '더리틀스', '탑헬스',
       '닥터제안', '유한양행', '어썸', '신일제약', '닥터메타', '센트럴팜', '휴럼', '닥터체크', '미밍',
       '뷰티셀렉션', '뉴칸', '한독', '아워뉴트리', '신일제약 ', '나프라우드', '로와컴퍼니', '위타민',
       '닥테메타', '파이토알엑스', '마이랩스', '신신제약', 'DN 코스메틱', 'DN코스메틱'],
      dtype=object)

In [84]:
# 파마브로스 전체 공동구매 건수
df.size

24138

In [86]:
# YDY뉴트리션과 파이토알엑스 공동구매 건수
con1 = df['공급사'] == 'YDY뉴트리션'
con2 = df['공급사'] == '파이토알엑스'
df[con1 | con2].size

3132

In [90]:
# 전체 공동구매에서 우리회사 공동구매 비율
3132 / 24138 * 100

12.97539149888143