In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
import matplotlib.pyplot as plt
warnings.simplefilter('ignore')

In [66]:
fs_df = pd.read_excel('/Users/seanyu_mac/Downloads/주문내역_2024-03-31~2025-03-31.xlsx')
ob_df = pd.read_csv('/Users/seanyu_mac/Downloads/제목 없는 스프레드시트 - 시트1 (5).csv')
fs_df['우편번호']

0     22189
1     16068
2     26446
3     26446
4     46765
      ...
62    33442
63    17559
64    13521
65    21443
66    38183
Name: 우편번호, Length: 67, dtype: int64

In [68]:
ob_df['주문번호'] = ob_df['주문번호'].apply(lambda x: x[:5])
fs_df['주문 번호'] = fs_df['주문 번호'].apply(lambda x: x[:5])

fs_df['정산가'] = fs_df['정산가'].astype(str)
ob_df['결제금액'] = ob_df['결제금액'].astype(str)
ob_df['결제금액'] = ob_df['결제금액'].astype(str)
ob_df['우편번호'] = ob_df['이름'].apply(lambda x: x[-1:])

fs_df['수령인 연락처'] = fs_df['수령인 연락처'].apply(lambda x: x[-4:])
fs_df['우편번호'] = fs_df['우편번호'].astype(str)

ob_df['전화번호'] = ob_df['전화번호'].apply(lambda x: x[-4:])

In [70]:
fs_df['key'] = fs_df['주문 번호'] + fs_df['정산가'] + fs_df['수령인 연락처']
ob_df['key'] = ob_df['주문번호'] + ob_df['결제금액'] + ob_df['전화번호']

In [74]:
temp_df = pd.merge(fs_df, ob_df, on='key', how='left')
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 44 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   결제 번호     67 non-null     object
 1   상품 번호     67 non-null     int64
 2   주문 번호     67 non-null     object
 3   결제 완료일    67 non-null     datetime64[ns]
 4   주문 상태     67 non-null     object
 5   상품명       67 non-null     object
 6   옵션명       67 non-null     object
 7   수량        67 non-null     int64
 8   정상가       67 non-null     int64
 9   판매가       67 non-null     int64
 10  쿠폰 할인     67 non-null     int64
 11  포인트 할인    67 non-null     int64
 12  적립금       67 non-null     int64
 13  정산가       67 non-null     object
 14  수령인명      67 non-null     object
 15  수령인 연락처   67 non-null     object
 16  구매자명      67 non-null     object
 17  구매자 ID    67 non-null     object
 18  구매자 연락처   67 non-null     int64
 19  주소        67 non-null     object
 20  우편번호_x    67 non-null     object
 21  배송 메모     51 non-null     object
 22  주문 확인일    67 non-null     datetime64[ns]
 23  발주 요청일    0 non-null      float64
 24  배송 완료일    0 non-null      float64
 25  구매 확정일    0 non-null      float64
 26  배송택배사     0 non-null      float64
 27  송장 번호     0 non-null      float64
 28  배송비 정책    67 non-null     object
 29  배송비       67 non-null     int64
 30  도서산간 배송비  67 non-null     int64
 31  취소 완료일    0 non-null      float64
 32  판매자 취소일   0 non-null      float64
 33  반품 요청일    0 non-null      float64
 34  수거 요청일    0 non-null      float64
 35  수거 완료일    0 non-null      float64
 36  반품 완료일    0 non-null      float64
 37  key       67 non-null     object
 38  주문번호      64 non-null     object
 39  아워박스_제품명  64 non-null     object
 40  결제금액      64 non-null     object
 41  이름        64 non-null     object
 42  전화번호      64 non-null     object
 43  우편번호_y    64 non-null     object
dtypes: datetime64[ns](2), float64(11), int64(10), object(21)
memory usage: 23.2+ KB

In [76]:
temp_df[['상품명', '아워박스_제품명']]

,상품명,아워박스_제품명
0,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
1,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
2,[스페셜할인코드/이재연약사] YDY 포스트바이오틱스GX 1박스 (30일분),NaN
3,[스페셜할인코드/이재연약사] YDY 프로바이오 에스엘비 1박스(2개월분),<span style='color:#000;'><span class='label l...
4,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
...,...,...
62,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
63,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
64,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
65,[공동구매] 유이약사 X YDY 폴라초임계오메가3 /rTG 저온 초임계 / 3박스 ...,<span class='view-set-item' data-item='2010680...
66,[스페셜할인코드/최명훈약사] YDY 마그듀오 K2 1박스(1개월분),NaN

In [90]:
temp_df.to_excel('/Users/seanyu_mac/Downloads/제목 없는 스프레드시트 - 시트1 (5)3.xlsx')