In [103]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

df = pd.read_csv('/Users/seanyu_mac/Downloads/[공구] 일정 신청 및 관리 시트 - 공구전체일정 (6).csv')
fs_df = pd.read_excel('/Users/seanyu_mac/Downloads/주문내역_2024-03-19~2025-03-19.xlsx')
auth_df = pd.read_csv('/Users/seanyu_mac/Downloads/public_pb_user_auth_info_export_2025-03-19_122333.csv')
user_df = pd.read_csv('/Users/seanyu_mac/Downloads/query_2-2025-03-19_122424.csv')
sales_df = pd.read_csv('/Users/seanyu_mac/Downloads/query_2-2025-03-19_122530.csv')

In [107]:
status = ['배송중', '배송완료', '구매확정', '배송준비', '결제완료']
gongu = [50557, 51174, 51176, 51177, 51181]

fs_df = fs_df[fs_df['주문 상태'].isin(status)]
fs_df = fs_df[fs_df['상품 번호'].isin(gongu)]

fs_df

,결제 번호,상품 번호,주문 번호,결제 완료일,주문 상태,상품명,옵션명,수량,정상가,판매가,...,송장 번호,배송비 정책,배송비,도서산간 배송비,취소 완료일,판매자 취소일,반품 요청일,수거 요청일,수거 완료일,반품 완료일
0,parma20250319115821ydOm4,51176,51271-51193,2025-03-19 11:58:43.894,결제완료,[공동구매] 쀼약사 X YDY 마그듀오 / 4박스 8박스 12박스,8박스(8개월분) (38%),1,200000,124000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
1,parma20250319115600q7oS0,51176,51269-51192,2025-03-19 11:56:17.566,결제완료,[공동구매] 쀼약사 X YDY 마그듀오 / 4박스 8박스 12박스,4박스(4개월분) (28%),1,100000,72000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
2,parma20250319114335m5vY2,51181,51268-51191,2025-03-19 11:44:42.979,결제완료,[공동구매] 쏘핏약사 x YDY 퓨어리포좀비타민C / 3박스 6박스 12박스,6박스(6개월분)_33%할인,1,174000,116500,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
3,parma20250319113202m3Ha8,51177,51267-51190,2025-03-19 11:32:47.085,결제완료,[공동구매] 명훈약사 X YDY 퓨어리포좀글루타치온 / 3박스 6박스 12박스,6박스 (총 6개월분)_45%할인,1,258000,142000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4,parma20250319112644jKI02,51181,51266-51189,2025-03-19 11:27:35.184,결제완료,[공동구매] 쏘핏약사 x YDY 퓨어리포좀비타민C / 3박스 6박스 12박스,3박스(3개월분)_26%할인,1,87000,64300,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,parma20250221101518uSWO2,50557,50660-50774,2025-02-21 10:15:34.478,구매확정,[공동구매] 위키약사 X YDY 포스트바이오틱스GX / 4박스 6박스 12박스,4박스(4개월분)_28%,1,160000,115200,...,5.344289e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
420,parma20250221101305eu9u8,50557,50658-50773,2025-02-21 10:13:41.225,구매확정,[공동구매] 위키약사 X YDY 포스트바이오틱스GX / 4박스 6박스 12박스,6박스(6개월분)_35%,1,240000,156000,...,5.344289e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
421,parma20250221101112uRQt5,50557,50657-50772,2025-02-21 10:12:42.924,구매확정,[공동구매] 위키약사 X YDY 포스트바이오틱스GX / 4박스 6박스 12박스,6박스(6개월분)_35%,1,240000,156000,...,5.344289e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
423,parma20250221100922j7vl1,50557,50655-50770,2025-02-21 10:09:49.233,구매확정,[공동구매] 위키약사 X YDY 포스트바이오틱스GX / 4박스 6박스 12박스,4박스(4개월분)_28%,1,160000,115200,...,5.344289e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
424,parma20250221100622dp5A6,50557,50652-50769,2025-02-21 10:06:44.592,구매확정,[공동구매] 위키약사 X YDY 포스트바이오틱스GX / 4박스 6박스 12박스,6박스(6개월분)_35%,1,240000,156000,...,5.344289e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT

In [111]:
df.columns = df.loc[1]
df = df.drop([0,1])
con1 = df['진행상황-업체'] == '업체-일정확정'
con2 = df['진행상황-업체'] == '업체-공구종료'
df = df[con1 | con2]
df = df.reset_index()
df.loc[df['시작일'].str.len() <= 8, '시작일'] = '25/' + df['시작일']
df = df[df['시작일'].isna() == False]

dates = []

for i in df['시작일']:
    date = i.split('(')[0].strip()
    year = '20' + date.split('/')[0].strip()
    month = date.split('/')[1].strip()
    day = date.split('/')[2].strip()
    final = year + '-' + month + '-' + day
    dates.append(final)

df['date'] = dates
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'] >= datetime(2025, 2, 17)]

sales_df['time'] = pd.to_datetime(sales_df['reg_dt']) + timedelta(hours=9)
sales_df['minute'] = sales_df['time'].dt.strftime('%H:%M:%S')
sales_df['minute'] = pd.to_datetime(sales_df['minute'])
sales_df['minute'].mean()

Timestamp('2025-03-19 11:32:11.523419904')

In [37]:
print('2월 4주차 부터 매주 예정된 공구건은')
df.groupby(pd.Grouper(key='date', freq='W'))['진행상황-업체'].count()[:10]

2월 4주차 부터 매주 예정된 공구건은

date
2025-02-23    31
2025-03-02    31
2025-03-09    35
2025-03-16    27
2025-03-23    34
2025-03-30    34
2025-04-06    41
2025-04-13    30
2025-04-20    34
2025-04-27    22
Freq: W-SUN, Name: 진행상황-업체, dtype: int64

In [200]:
print('주간 친한스토어 공구 전환 건수')
datas = {}

for i in fs_df['상품명'].unique():
    con = fs_df['상품명'] == i
    value = fs_df.loc[con, '결제 완료일'].min()
    key = i
    datas[key] = value

temp_df = pd.DataFrame.from_dict(datas, orient="index", columns=['date'])
temp_df.groupby(pd.Grouper(key='date', freq='W')).size()

주간 친한스토어 공구 전환 건수

14529900

In [190]:
print('주간 파마브로스 전체 공구 매출')
sales_df.groupby(pd.Grouper(key='time', freq='W'))['order_price'].sum()

주간 파마브로스 전체 공구 매출

99140100

In [192]:
print('주간 파마브로스 전체 공구 건수')
sales_df.groupby(pd.Grouper(key='time', freq='W'))['order_no'].count()

주간 파마브로스 전체 공구 건수

819

In [113]:
print('매주 친한스토어 공구 매출 건수는')
fs_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['결제 번호'].size()

매주 친한스토어 공구 매출 건수는

결제 완료일
2025-02-23     71
2025-03-02     28
2025-03-09      0
2025-03-16      0
2025-03-23    274
Freq: W-SUN, Name: 결제 번호, dtype: int64

In [179]:
print('매주 목요일 기준 친한스토어 총 매출은')
fs_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['정산가'].sum()

매주 목요일 기준 친한스토어 총 매출은

결제 완료일
2025-02-23    11570400
2025-03-02     4608000
2025-03-09           0
2025-03-16           0
2025-03-23    35801100
Freq: W-SUN, Name: 정산가, dtype: int64

In [234]:
merged_df = user_df.merge(auth_df, left_on='id', right_on='user_id', how='inner')
merged_df = user_df.merge(auth_df, left_on='id', right_on='user_id', how='inner')
merged_df['reg_dt'] = pd.to_datetime(merged_df['reg_dt'], format='mixed')
con1 = merged_df['reg_dt'] >= datetime(2025, 2, 17)
con2 = merged_df['reg_dt'] < datetime(2025, 2, 24)
print('매주 친한스토어 친약+친스 회원가입자 수는')
merged_df.groupby(pd.Grouper(key='reg_dt', freq='W')).size()[5:]

매주 친한스토어 친약+친스 회원가입자 수는

reg_dt
2025-02-09    407
2025-02-16    343
2025-02-23    625
2025-03-02    569
2025-03-09    621
2025-03-16    473
2025-03-23    556
Freq: W-SUN, dtype: int64

In [232]:
print('친스 회원가입자 수는 (di 없는 유저만)')
auth_df_di = auth_df[auth_df['di'].isna()]
auth_df_di['created_at'] = pd.to_datetime(auth_df_di['created_at'], format='mixed')
auth_df_di.groupby(pd.Grouper(key='created_at', freq='W')).size()

con1 = auth_df_di['created_at'] >= datetime(2025, 3, 17, 0, 0, 0)
con2 = auth_df_di['created_at'] <= datetime(2025, 3, 18, 0, 0, 0)
auth_df_di[con1 & con2].index.size

친스 회원가입자 수는 (di 없는 유저만)

133

In [226]:
df = pd.read_csv('/Users/seanyu_mac/Downloads/store_t_user_export_2025-03-19_123339.csv')
df['created_at'] = pd.to_datetime(df['created_at'])
df['created_at'] = df['created_at'] + timedelta(hours=9)
df.groupby(pd.Grouper(key='created_at', freq='W')).size()

df['reg_dt'] = df['created_at'].apply(lambda x: x.strftime('%Y-%m-%d'))
df['reg_dt'] = pd.to_datetime(df['reg_dt'])
con1 = df['reg_dt'] >= datetime(2025, 3, 17)
con2 = df['reg_dt'] <= datetime(2025, 3, 18)
df[con1 & con2]

,user_idx,pbuser_id,referrer_user_idx,referrer_influencer_idx,sns_consent_yn,admin_yn,created_at,updated_at,status_yn,reg_dt
655,50757,375e4820-7634-47fa-8f98-a45f1e781d0d,NaN,NaN,Y,N,2025-03-17 09:00:55.809809+00:00,2025-03-17 00:00:55.809809+00,Y,2025-03-17
656,50758,6c774883-1ec2-48f7-85fe-8b3b5f146a40,NaN,NaN,Y,N,2025-03-17 09:05:36.739577+00:00,2025-03-17 00:05:36.739577+00,Y,2025-03-17
657,50759,6e847f2b-b0a1-4a60-b0bf-7bb7358487b8,NaN,NaN,Y,N,2025-03-17 09:06:12.311200+00:00,2025-03-17 00:06:12.3112+00,Y,2025-03-17
658,50760,6f3b7d60-eb03-4de9-bc87-fa0372e403c5,NaN,NaN,Y,N,2025-03-17 09:06:19.125252+00:00,2025-03-17 00:06:19.125252+00,Y,2025-03-17
659,50761,568bfaa3-fdc3-4a07-98f9-48fabc45165d,NaN,NaN,Y,N,2025-03-17 09:06:58.147668+00:00,2025-03-17 00:06:58.147668+00,Y,2025-03-17
...,...,...,...,...,...,...,...,...,...,...
1039,51165,3727db1c-bee1-4849-8795-0fcc8eba8742,NaN,NaN,Y,N,2025-03-18 23:40:13.520061+00:00,2025-03-18 14:40:13.520061+00,Y,2025-03-18
1040,51166,8165c321-7269-4bfc-83fa-09a39b5c6130,NaN,NaN,Y,N,2025-03-18 23:41:09.131270+00:00,2025-03-18 14:41:09.13127+00,Y,2025-03-18
1041,51167,a82012be-96d0-4f04-8328-4b9661a2d185,NaN,NaN,Y,N,2025-03-18 23:48:10.518542+00:00,2025-03-18 14:48:10.518542+00,Y,2025-03-18
1042,51168,e6513d15-f04f-4dd4-aee8-e018783516fc,NaN,NaN,Y,N,2025-03-18 23:51:06.663958+00:00,2025-03-18 14:51:06.663958+00,Y,2025-03-18
1043,51169,c944b952-0077-4f30-b031-487f706d1839,NaN,NaN,Y,N,2025-03-18 23:54:52.991073+00:00,2025-03-18 14:54:52.991073+00,Y,2025-03-18

,user_idx,pbuser_id,referrer_user_idx,referrer_influencer_idx,sns_consent_yn,admin_yn,created_at,updated_at,status_yn
0,50000,f3265f4e-ee2c-4e8d-9d0d-24b3cdea228a,NaN,NaN,Y,N,2024-09-13 22:27:21.664592+00:00,2024-09-13 13:27:21.664592+00,Y
1,50001,996f8226-65d2-4673-9259-78f340f89272,NaN,NaN,Y,N,2024-09-13 22:29:10.346838+00:00,2024-09-13 13:29:10.346838+00,Y
2,50002,7b7f3e4e-8f62-4189-8999-8fb836f054de,NaN,NaN,Y,N,2024-09-13 22:29:19.420641+00:00,2024-09-13 13:29:19.420641+00,Y
3,50003,9f529f1e-6cf8-44ae-bf4e-1d97b3446b8b,NaN,NaN,Y,N,2024-09-20 09:59:13.113302+00:00,2024-09-20 00:59:13.113302+00,Y
4,50004,183b7feb-3cb1-4d13-b9ee-2b7730b7e5fa,NaN,NaN,Y,N,2024-09-20 10:10:59.456483+00:00,2024-09-20 01:10:59.456483+00,Y
...,...,...,...,...,...,...,...,...,...
1080,51210,33cc0ec2-b445-4f16-9c3d-ec37aec2a2f0,NaN,NaN,Y,N,2025-03-19 11:59:01.195316+00:00,2025-03-19 02:59:01.195316+00,Y
1081,51211,08cff36b-1785-4587-89b2-37c44a7532a6,NaN,NaN,Y,N,2025-03-19 12:05:42.854693+00:00,2025-03-19 03:05:42.854693+00,Y
1082,51212,30a5cf49-7b55-4a17-bc56-3fae78a47a18,NaN,NaN,Y,N,2025-03-19 12:16:52.326480+00:00,2025-03-19 03:16:52.32648+00,Y
1083,51213,40d9508f-49c6-4113-83c8-e8b30321397f,NaN,NaN,Y,N,2025-03-19 12:25:46.278449+00:00,2025-03-19 03:25:46.278449+00,Y
1084,51214,5b1362ae-7cdd-47c4-97c4-289c68f7e9f5,NaN,NaN,Y,N,2025-03-19 12:26:48.204484+00:00,2025-03-19 03:26:48.204484+00,Y