In [100]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

In [102]:
df = pd.read_excel('/Users/seanyu_mac/Downloads/누적판매금액 (9).xlsx')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1113 entries, 0 to 1112
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   group_buy_key    1113 non-null   int64
 1   group_buy_title  1113 non-null   object
 2   order_amount     1113 non-null   int64
 3   order_count      1113 non-null   int64
 4   box_count        1113 non-null   int64
dtypes: int64(4), object(1)
memory usage: 43.6+ KB

In [106]:
df['1억 기준 구분'] = df['order_amount'].apply(lambda x: "1억 미만" if x < 100000000 else '1억 이상')

In [120]:
df['1억 기준 구분'].value_counts()

1억 기준 구분
1억 미만    1031
1억 이상      82
Name: count, dtype: int64

In [124]:
82 / 1113

0.07367475292003593

In [128]:
df.groupby('1억 기준 구분')['order_amount'].mean()

1억 기준 구분
1억 미만    2.328063e+07
1억 이상    1.674137e+08
Name: order_amount, dtype: float64

In [132]:
df.groupby('1억 기준 구분')['order_count'].mean()

1억 기준 구분
1억 미만     217.048497
1억 이상    1596.353659
Name: order_count, dtype: float64

In [140]:
print(f'{df['order_amount'].mean():,}')

33,899,598.00539084

In [266]:
max_count = df['order_amount'].max() // 10000000
keys = range(max_count + 1) 
values = [0] * len(keys)
ten_million_standard_dict = dict(zip(keys, values))

for i in df['order_amount']:
    data = i // 10000000
    temp_value = ten_million_standard_dict[data]
    ten_million_standard_dict[data] = temp_value + 1

In [232]:
ten_million_dict = {}

for key, value in ten_million_standard_dict.items():
    ten_million_dict[key] = value

In [262]:
ten_million_df = pd.DataFrame.from_dict(ten_million_dict, orient='index')
idx = []

for i in ten_million_df.index:
    data = f'{i}~{i+1}천만원'
    idx.append(data)

ten_million_df.index = idx

In [270]:
ten_million_df.rename(columns={0: '건수'}, inplace=True)
ten_million_df

           건수
0~1천만원    332
1~2천만원    238
2~3천만원    162
3~4천만원    107
4~5천만원     69
5~6천만원     37
6~7천만원     34
7~8천만원     22
8~9천만원     23
9~10천만원     7
10~11천만원   17
11~12천만원   11
12~13천만원   10
13~14천만원   13
14~15천만원    3
15~16천만원    4
16~17천만원    2
17~18천만원    2
18~19천만원    3
19~20천만원    1
20~21천만원    0
21~22천만원    0
22~23천만원    0
23~24천만원    3
24~25천만원    1
25~26천만원    0
26~27천만원    2
27~28천만원    0
28~29천만원    0
29~30천만원    2
30~31천만원    0
31~32천만원    1
32~33천만원    2
33~34천만원    0
34~35천만원    0
35~36천만원    0
36~37천만원    1
37~38천만원    0
38~39천만원    0
39~40천만원    1
40~41천만원    0
41~42천만원    0
42~43천만원    2
43~44천만원    0
44~45천만원    0
45~46천만원    0
46~47천만원    0
47~48천만원    0
48~49천만원    0
49~50천만원    0
50~51천만원    0
51~52천만원    0
52~53천만원    0
53~54천만원    0
54~55천만원    0
55~56천만원    1