In [356]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

consult_df = pd.read_excel('/Users/seanyu_mac/Downloads/statics_result_20241107_184747.xlsx')
user_df = pd.read_excel('/Users/seanyu_mac/Downloads/user_result_1730972195.xlsx')

In [357]:
# 일자별 상담 + 사진분석 합쳐서 그룹바이 하고 consult_count_df 생성
consult_df = consult_df[consult_df['년도'] >= 2024]
consult_count_df = pd.DataFrame(consult_df.groupby('날짜')[['1:1 상담건수', '사진 분석 건수']].sum().reset_index())
consult_count_df['num'] = consult_count_df['1:1 상담건수'] + consult_count_df['사진 분석 건수']
consult_count_df['날짜'] = pd.to_datetime(consult_count_df['날짜'])
consult_count_df['month'] = consult_count_df['날짜'].dt.strftime('%m')
consult_count_df

            날짜  1:1 상담건수  사진 분석 건수  num month
0   2024-01-01        23         5   28    01
1   2024-01-02        82         5   87    01
2   2024-01-03        87        15  102    01
3   2024-01-04        82        10   92    01
4   2024-01-05        76         4   80    01
..         ...       ...       ...  ...   ...
304 2024-11-02        54         0   54    11
305 2024-11-03        52         0   52    11
306 2024-11-04       101         0  101    11
307 2024-11-05        90         0   90    11
308 2024-11-06       110         0  110    11

[309 rows x 5 columns]

In [468]:
user_df['first_seen'] = pd.to_datetime(user_df['가입일자']).dt.date
user_df['last_seen'] = pd.to_datetime(user_df['마지막 로그인 일자']).dt.date

In [362]:
df = pd.read_csv('/Users/seanyu_mac/Downloads/public_consulting_export_2024-11-08_110938.csv')
original_df = df

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_1144/472257454.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/seanyu_mac/Downloads/public_consulting_export_2024-11-08_110938.csv')

In [364]:
original_df.columns

Index(['id', 'user_id', 'title', 'content', 'answer', 'referer', 'status',
       'reg_id', 'reg_dt', 'upd_dt', 'del_yn', 'consulting_type',
       'attached_image', 'youtube_video_id', 'answer_dt', 'review_score',
       'profile_id', 'profile_answer', 'analysis_id', 'read_yn',
       'related_video_id', 'public_request', 'public_yn', 'recommend_items',
       'answer_type', 'answer_user_id', 'related_video_ids', 'del_dt',
       'answer_pharmacy_id', 'update_user_type', 'admin_memo',
       'recommend_product_ids', 'auto_complete_yn', 'referer_detail',
       'pharmacy_check_request', 'confirm_dt', 'consulting_category',
       'related_url', 'answer_start_dt', 'kakao_notification_count',
       'to_pharmacy_memo', 'disable_answer', 'pharmacy_title_code',
       'consulting_product', 'product_from_attach_image', 'read_dt',
       'pharmacy_answer', 'bookmark_user_ids', 'curious_user_ids',
       'summary_keyword', 'summary_yn', 'helpful_user_ids', 'reply_yn',
       'admin_del_yn', 'corka_answer_request_yn',
       'corka_answer_request_message_id', 'corka_answer',
       'corka_answer_request_conversion_id', 'corka_answer_get_try_count',
       'memo', 'visible_answer_pharmacist_id', 'consulting_profile_id',
       'request_type', 'is_from_analysis', 'is_error_analysis'],
      dtype='object')

In [366]:
df = original_df[['id', 'user_id', 'title', 'reg_dt', 'upd_dt', 'del_yn', 'answer_dt', 'public_yn', 'answer_pharmacy_id']]
df

,id,user_id,title,reg_dt,upd_dt,del_yn,answer_dt,public_yn,answer_pharmacy_id
0,2011,2250504a-da6c-4005-8f80-54386640c150,임산부 유산균 추천해주세요ㅠ,2023-10-10 00:43:05.731059,2023-10-13 05:40:56.936109,N,2023-10-10 02:26:57.711559,Y,54.0
1,1914,7cc2a3c9-d18e-401b-9e18-9c256749a67e,테라큐민복용으로 상담드립니다,2023-10-05 01:12:43.676916,2023-11-01 14:10:37.189199,N,2023-10-05 01:20:52.014369,Y,54.0
2,3942,10e97c27-cec6-4582-8fac-c276a726ee46,질문드립니다.,2023-11-25 00:08:15.161049,2023-11-27 02:46:15.592021,N,2023-11-25 16:34:56.333243,N,56.0
3,4280,ea826e55-09a9-4234-9698-fa73339b28b8,엑티브비큐텐 비타민b?마그네슘,2023-12-01 03:14:34.118463,2023-12-04 02:55:05.918264,N,2023-12-01 04:02:32.619723,Y,54.0
4,1975,a1100e95-9bdb-405b-9c3f-6d0acadda4a7,영아 비타민D 복용 용량이 궁금해요,2023-10-08 04:54:45.782472,2023-10-14 14:24:17.960343,N,2023-10-09 02:13:41.56619,Y,54.0
...,...,...,...,...,...,...,...,...,...
32180,32839,94e064da-f3dc-46ff-be6e-b0612d22f3ab,베르베린. 바나나잎,2024-11-06 11:47:51.617012,NaN,N,NaN,N,NaN
32181,32485,92e4bf34-31c8-413a-a877-ebea2fe232b9,커큐민,2024-11-02 08:29:29.598,2024-11-06 12:10:57.382042,N,2024-11-05 00:40:20.103731,N,53.0
32182,32843,0d454a76-5b76-445b-81db-522734e2cb0e,섭취량문의,2024-11-06 12:15:47.13,2024-11-08 01:12:24.889709,N,2024-11-08 01:12:24.884451,N,77.0
32183,32667,57709b36-4988-4b33-95fc-0f10f3476efb,현재 먹고있는패턴과 여기서 해독주스 추가해도 될런지요,2024-11-04 23:58:12.533,2024-11-06 12:47:55.441115,N,2024-11-06 02:25:36.488369,N,20.0
32184,32845,57709b36-4988-4b33-95fc-0f10f3476efb,현재 먹고있는패턴과 여기서 해독주스 추가해도 될런지요,2024-11-06 12:47:55.467448,NaN,N,NaN,N,NaN

In [398]:
df['reg_dt'] = pd.to_datetime(df['reg_dt'], format='mixed')
df['answer_dt'] = pd.to_datetime(df['answer_dt'])
df

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_1144/1870537984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reg_dt'] = pd.to_datetime(df['reg_dt'], format='mixed')
/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_1144/1870537984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['answer_dt'] = pd.to_datetime(df['answer_dt'])

,id,user_id,title,reg_dt,upd_dt,del_yn,answer_dt,public_yn,answer_pharmacy_id
0,2011,2250504a-da6c-4005-8f80-54386640c150,임산부 유산균 추천해주세요ㅠ,2023-10-10 00:43:05.731059,2023-10-13 05:40:56.936109,N,2023-10-10 02:26:57.711559,Y,54.0
1,1914,7cc2a3c9-d18e-401b-9e18-9c256749a67e,테라큐민복용으로 상담드립니다,2023-10-05 01:12:43.676916,2023-11-01 14:10:37.189199,N,2023-10-05 01:20:52.014369,Y,54.0
2,3942,10e97c27-cec6-4582-8fac-c276a726ee46,질문드립니다.,2023-11-25 00:08:15.161049,2023-11-27 02:46:15.592021,N,2023-11-25 16:34:56.333243,N,56.0
3,4280,ea826e55-09a9-4234-9698-fa73339b28b8,엑티브비큐텐 비타민b?마그네슘,2023-12-01 03:14:34.118463,2023-12-04 02:55:05.918264,N,2023-12-01 04:02:32.619723,Y,54.0
4,1975,a1100e95-9bdb-405b-9c3f-6d0acadda4a7,영아 비타민D 복용 용량이 궁금해요,2023-10-08 04:54:45.782472,2023-10-14 14:24:17.960343,N,2023-10-09 02:13:41.566190,Y,54.0
...,...,...,...,...,...,...,...,...,...
32180,32839,94e064da-f3dc-46ff-be6e-b0612d22f3ab,베르베린. 바나나잎,2024-11-06 11:47:51.617012,NaN,N,NaT,N,NaN
32181,32485,92e4bf34-31c8-413a-a877-ebea2fe232b9,커큐민,2024-11-02 08:29:29.598000,2024-11-06 12:10:57.382042,N,2024-11-05 00:40:20.103731,N,53.0
32182,32843,0d454a76-5b76-445b-81db-522734e2cb0e,섭취량문의,2024-11-06 12:15:47.130000,2024-11-08 01:12:24.889709,N,2024-11-08 01:12:24.884451,N,77.0
32183,32667,57709b36-4988-4b33-95fc-0f10f3476efb,현재 먹고있는패턴과 여기서 해독주스 추가해도 될런지요,2024-11-04 23:58:12.533000,2024-11-06 12:47:55.441115,N,2024-11-06 02:25:36.488369,N,20.0
32184,32845,57709b36-4988-4b33-95fc-0f10f3476efb,현재 먹고있는패턴과 여기서 해독주스 추가해도 될런지요,2024-11-06 12:47:55.467448,NaN,N,NaT,N,NaN

In [440]:
df['time_taken'] = df['answer_dt'] - df['reg_dt']
df['user_id'].duplicated()

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_1144/702321118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_taken'] = df['answer_dt'] - df['reg_dt']

0        False
1        False
2        False
3        False
4        False
         ...
32180     True
32181    False
32182     True
32183    False
32184     True
Name: user_id, Length: 32185, dtype: bool

In [446]:
result = pd.merge(user_df, df[['user_id', 'time_taken']], how='inner', on='user_id')

In [456]:
result['time_taken'].mean()

Timedelta('2 days 04:29:31.648994531')

In [2]:
result

NameError: name 'result' is not defined

In [472]:
user_df['first_seen'] = pd.to_datetime(user_df['first_seen'])
user_df['last_seen'] = pd.to_datetime(user_df['last_seen'])
user_df['signup_month'] = user_df['first_seen'].dt.to_period('M')
user_df['last_active_month'] = user_df['last_seen'].dt.to_period('M')

# Calculate retention: how many users were active in a given month after signing up
retention = (
    user_df.groupby('signup_month')
    .apply(lambda x: pd.Series({
        'signups': x['user_id'].nunique(),
        'retained_next_month': x.loc[x['last_active_month'] > x['signup_month'], 'user_id'].nunique()
    }))
)

# Calculate retention rate as a percentage
retention['retention_rate'] = (retention['retained_next_month'] / retention['signups']) * 100
retention

/var/folders/wl/txjbcgld2sngchsc7txxqppm0000gp/T/ipykernel_1144/2210303680.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: pd.Series({

              signups  retained_next_month  retention_rate
signup_month
2022-10             1                    0        0.000000
2022-11             1                    1      100.000000
2023-01             1                    0        0.000000
2023-02             1                    1      100.000000
2023-04            43                   13       30.232558
2023-05            32                    3        9.375000
2023-06           107                   26       24.299065
2023-07           438                  144       32.876712
2023-08           511                  208       40.704501
2023-09           672                  345       51.339286
2023-10           873                  408       46.735395
2023-11          1798                  967       53.781980
2023-12          1775                  868       48.901408
2024-01          2413                  944       39.121426
2024-02          1272                  497       39.072327
2024-03          2299                  779       33.884298
2024-04          1842                  628       34.093377
2024-05          2009                  526       26.182180
2024-06          1983                  544       27.433182
2024-07          2075                  101        4.867470
2024-08          1503                    5        0.332668
2024-09          1167                    0        0.000000
2024-10          1556                    0        0.000000
2024-11           403                    0        0.000000

In [474]:
['user_id'].nunique()

AttributeError: 'list' object has no attribute 'nunique'