In [54]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

df = pd.read_excel('/Users/seanyu_mac/Downloads/주문내역_2024-03-17~2025-03-17 (2).xlsx')

df = df[df['주문 상태'] == '결제완료']
df.rename(columns={'결제 완료일': '결제 시점'}, inplace=True)

now = df['결제 시점'].max().strftime('%Y-%m-%d %H:%M분')
print(f'{now} 현재 시간 총 매출은 {df['정산가'].sum():,}원')
print(f'{now} 현재 시간 총 판매건수는 {df.index.size}건')
result_df = pd.DataFrame(df.groupby(pd.Grouper(key='결제 시점', freq='10T'))['정산가'].sum())
result_df['정산가'] = result_df['정산가'].apply(lambda x: f"{x:,} 원")
result_df.rename(columns={'정산가': '매출'})

2025-03-17 11:36분 현재 시간 총 매출은 6,765,000원
2025-03-17 11:36분 현재 시간 총 판매건수는 43건

                              매출
결제 시점
2025-03-17 09:00:00    302,500 원
2025-03-17 09:10:00  1,336,500 원
2025-03-17 09:20:00    531,300 원
2025-03-17 09:30:00    390,500 원
2025-03-17 09:40:00    478,500 원
2025-03-17 09:50:00    158,400 원
2025-03-17 10:00:00    977,900 원
2025-03-17 10:10:00    460,900 원
2025-03-17 10:20:00     88,000 원
2025-03-17 10:30:00          0 원
2025-03-17 10:40:00    587,400 원
2025-03-17 10:50:00    246,400 원
2025-03-17 11:00:00    587,400 원
2025-03-17 11:10:00    460,900 원
2025-03-17 11:20:00          0 원
2025-03-17 11:30:00    158,400 원