In [81]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

# "[공구] 일정 신청 및 관리 시트" 파일의 "공구전체일정" 탭을 csv로 다운로드하여 경로 추가
df = pd.read_csv('/Users/mac/Downloads/[공구] 일정 신청 및 관리 시트 - 공구전체일정 (3).csv')

# 친한스토어 어드민에서 최근 1년 주문내역 전체 엑셀 다운로드 및 경로 추가
fs_df = pd.read_excel('/Users/mac/Downloads/주문내역_2024-06-11~2025-06-11.xlsx')

# select * from pb_user where reg_dt > '2025-1-1'
# pb_user 테이블에 대해 위 쿼리를 돌리고 csv 다운로드하여 경로 추가
user_df = pd.read_csv('/Users/mac/Downloads/query_2-2025-06-03_114007.csv')

# select * from pb_user_auth_info where created_at > '2025-1-1'
# pb_user_auth_info 테이블에 대해 위 쿼리를 돌리고 csv 다운로드하여 경로 추가
auth_df = pd.read_csv('/Users/mac/Downloads/query_1-2025-06-11_94933.csv')

# select * from admin_group_buy_excel_order where order_ymd > '20250510'
# excel_group_buy_info 테이블에 대해 위 쿼리를 돌리되 결과값이 5만개 내로 마지막 날짜 조정
sales_df = pd.read_csv('/Users/mac/Downloads/query_3-2025-06-11_95113.csv')

# 친스 판매중, 판매종료된 공구 상품번호를 추가
gongu = [51414,51371,51367,51366,51365,51364,51363,51276,51275,51274,51273,51272,51271,51269,51268,51267,51260,51259,51258,51257,51256,51255,51254,51253,51182,51181,51178,51177,51176,51174,50557]

status = ['배송중', '배송완료', '구매확정', '배송준비', '결제완료']

fs_df = fs_df[fs_df['주문 상태'].isin(status)]
fs_df = fs_df[~fs_df['상품 번호'].isin(gongu)]
fs_gongu_df = fs_df[fs_df['상품 번호'].isin(gongu)]

today = datetime.today()

df.columns = df.loc[1]
df = df.drop([0,1])
con1 = df['진행상황-업체'] == '업체-일정확정'
con2 = df['진행상황-업체'] == '업체-공구종료'
df = df[con1 | con2]
df = df.reset_index()
df.loc[df['시작일'].str.len() <= 8, '시작일'] = '25/' + df['시작일']
df = df[df['시작일'].isna() == False]
df.drop(df[df['시작일'] == '약사님 일정 조율중'].index, inplace=True)

dates = []

for i in df['시작일']:
    date = i.split('(')[0].strip()
    year = '20' + date.split('/')[0].strip()
    month = date.split('/')[1].strip()
    day = date.split('/')[2].strip()
    final = year + '-' + month + '-' + day
    dates.append(final)

df['date'] = dates
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'] >= datetime(2025, 2, 17)]

sales_df['time'] = pd.to_datetime(sales_df['reg_dt']) + timedelta(hours=9)
sales_df['minute'] = sales_df['time'].dt.strftime('%H:%M:%S')
sales_df['minute'] = pd.to_datetime(sales_df['minute'])
sales_df['minute'].mean()

Timestamp('2025-06-11 11:14:56.395729920')

In [86]:
# temp_df_series = temp_df.groupby(pd.Grouper(key='date', freq='W')).size()
temp_df

Empty DataFrame
Columns: [date]
Index: []

In [83]:
datas = {}

for i in fs_gongu_df['상품명'].unique():
    con = fs_gongu_df['상품명'] == i
    value = fs_gongu_df.loc[con, '결제 완료일'].min()
    key = i
    datas[key] = value

temp_df = pd.DataFrame.from_dict(datas, orient="index", columns=['date'])

df_series = df.groupby(pd.Grouper(key='date', freq='W'))['진행상황-업체'].count()[5:20]
result_num1 = df_series[(df_series.keys() < today) & (df_series.keys() > today - timedelta(days=7))].values[0]
temp_df_series = temp_df.groupby(pd.Grouper(key='date', freq='W')).size()
result_num2 = temp_df_series[(temp_df_series.keys() < today) & (temp_df_series.keys() > today - timedelta(days=7))].values[0]
rate1 = result_num2 / (result_num1 + result_num2)
sales_df_series = sales_df.groupby(pd.Grouper(key='time', freq='W'))['order_price'].sum()
result_num3 = sales_df_series[(sales_df_series.keys() < today) & (sales_df_series.keys() > today - timedelta(days=7))].values[0]
fs_gongu_df_seires = fs_gongu_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['정산가'].sum()
result_num4 = fs_gongu_df_seires[(fs_gongu_df_seires.keys() < today) & (fs_gongu_df_seires.keys() > today - timedelta(days=7))].values[0]
rate2 = result_num4 / (result_num3 + result_num4)
count_series = sales_df.groupby(pd.Grouper(key='time', freq='W'))['order_no'].count()
result_num5 = count_series[(count_series.keys() < today) & (count_series.keys() > today - timedelta(days=7))].values[0]
fs_count_series = fs_gongu_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['결제 번호'].size()
result_num6 = fs_count_series[(fs_count_series.keys() < today) & (fs_count_series.keys() > today - timedelta(days=7))].values[0]
rate3 = result_num6 / (result_num5 + result_num6)
revenue_series = fs_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['정산가'].sum()
result_num7 = revenue_series[(revenue_series.keys() < today) & (revenue_series.keys() > today - timedelta(days=7))].values[0]


print(f'전체 공구 건수는 {result_num1 + result_num2}')
print(f'친한스토어 공구 건수는 {result_num2}')
print(f'친한스토어 공구 점유율은 {np.round(rate1 * 100, 2)}%\n')
print(f'전체 공구 매출은 {result_num3 + result_num4:,}원')
print(f'친스 공구 매출은 {result_num4:,}원')
print(f'친한스토어 매출 점유율은 {np.round(rate2 * 100, 2)}%\n')
print(f'전체 공구 판매건수는 {result_num5 + result_num6:,}원')
print(f'친스 공구 판매건수는 {result_num6:,}원')
print(f'친한스토어 판매건수 점유율은 {np.round(rate3 * 100, 2)}%\n')
print(f'친스 일반매출은 {result_num7:,}원')
print(f'친스 매출합계는 {result_num3 + result_num4 + result_num7:,}원')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [78]:
fs_df

,결제 번호,상품 번호,주문 번호,결제 완료일,주문 상태,상품명,옵션명,수량,정상가,판매가,...,송장 번호,배송비 정책,배송비,도서산간 배송비,취소 완료일,판매자 취소일,반품 요청일,수거 요청일,수거 완료일,반품 완료일
0,parma202506110913512jPw0,50425,56631-54744,2025-06-11 09:14:11.158,결제완료,임직원용 PB 상품 구매 페이지,오마비 선물세트,3,88000,34000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
1,parma202506110910083Qko2,50425,56630-54743,2025-06-11 09:10:43.845,결제완료,임직원용 PB 상품 구매 페이지,오마비 선물세트,3,88000,34000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
2,parma202506110816180G5i6,51174,56629-54742,2025-06-11 08:16:33.474,결제완료,[공동구매] 약사비책 X YDY 프로바이오 에스엘비(SLB) / 2박스 4박스 6박스,2박스 (4개월분) (20%),1,110000,88000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
3,parma202506110728240CkB9,51174,56627-54741,2025-06-11 07:28:50.006,결제완료,[공동구매] 약사비책 X YDY 프로바이오 에스엘비(SLB) / 2박스 4박스 6박스,2박스 (4개월분) (20%),1,110000,88000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4,parma20250611060249ZRUO4,51174,56624-54740,2025-06-11 06:03:50.932,결제완료,[공동구매] 약사비책 X YDY 프로바이오 에스엘비(SLB) / 2박스 4박스 6박스,2박스 (4개월분) (20%),1,110000,88000,...,NaN,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4400,parma20240928090515CkfQ2,50085,50016-50017,2024-09-28 09:05:13.391,구매확정,[스페셜할인코드/남기헌약사] YDY 프로바이오 에스엘비 1박스(2개월분),[스페셜할인코드/남기헌약사] YDY 프로바이오 에스엘비 1박스(2개월분),1,45000,42750,...,5.336987e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4402,parma20240927134828DZU39,50006,50014-50015,2024-09-27 13:48:27.498,구매확정,[스페셜할인코드/친한] YDY 코랄칼마디 K2 1박스(1개월분) / 칼슘 마그네슘 ...,[스페셜할인코드/친한] YDY 코랄칼마디 1박스(1개월분) / 칼슘 마그네슘 비타민D,1,25000,23750,...,5.336987e+11,무료배송,3000,0,NaT,NaT,NaT,NaT,NaT,NaT
4405,parma20240926130234OzMz1,50012,50012-50012,2024-09-26 13:02:33.557,구매확정,[스페셜할인코드/친한] YDY 파이토 레드큐민 1박스(1개월분) /커큐민,[스페셜할인코드/친한] YDY 파이토 레드큐민 1박스(1개월분) /커큐민,1,51000,48450,...,5.959922e+11,무료배송,0,0,NaT,NaT,NaT,NaT,NaT,NaT
4411,parma20240925133216CVxv5,50009,50005-50005,2024-09-25 13:32:16.307,구매확정,[스페셜할인코드/친한] YDY 풀스펙멀티비타민 1박스(1개월분),[스페셜할인코드/친한] YDY 풀스펙멀티비타민 1박스(1개월분),1,22500,21370,...,5.910963e+11,무료배송,3000,0,NaT,NaT,NaT,NaT,NaT,NaT
4413,parma20240920184127cDyU0,50000,50003-50003,2024-09-20 18:41:26.787,구매확정,[스페셜할인코드/친한] YDY 폴라초임계오메가3 1박스 (1개월분),[스페셜할인코드/친한] YDY 폴라초임계오메가3 1박스 (1개월분),1,28000,14000,...,5.959920e+11,무료배송,3000,0,NaT,NaT,NaT,NaT,NaT,NaT

In [74]:
print('매주 친한스토어 일반 매출은')
fs_df.groupby(pd.Grouper(key='결제 완료일', freq='W'))['정산가'].sum()

매주 친한스토어 일반 매출은

결제 완료일
2024-09-22       14000
2024-09-29      205660
2024-10-06      763300
2024-10-13      407070
2024-10-20     1081060
2024-10-27     1177000
2024-11-03     1700250
2024-11-10      183350
2024-11-17       42750
2024-11-24      213700
2024-12-01       73400
2024-12-08           0
2024-12-15       42750
2024-12-22      188300
2024-12-29      105600
2025-01-05       34900
2025-01-12       17400
2025-01-19           0
2025-01-26      159600
2025-02-02      117000
2025-02-09       53500
2025-02-16           0
2025-02-23    11608900
2025-03-02     4712200
2025-03-09       57700
2025-03-16         600
2025-03-23    62880350
2025-03-30    34114080
2025-04-06     5376760
2025-04-13    55443600
2025-04-20    58516690
2025-04-27    66326380
2025-05-04    13491620
2025-05-11    46545730
2025-05-18    26080590
2025-05-25     1385570
2025-06-01     2106790
2025-06-08    41003580
2025-06-15    13760650
Freq: W-SUN, Name: 정산가, dtype: int64

In [13]:
## merged_df = user_df.merge(auth_df, left_on='id', right_on='user_id', how='inner')
merged_df = user_df.merge(auth_df, left_on='id', right_on='user_id', how='inner')
merged_df['reg_dt'] = pd.to_datetime(merged_df['reg_dt'], format='mixed')
print('매주 친한스토어 친약+친스 회원가입자 수는')
merged_df.groupby(pd.Grouper(key='reg_dt', freq='W')).size()[5:]

매주 친한스토어 친약+친스 회원가입자 수는

reg_dt
2025-02-09     397
2025-02-16     337
2025-02-23     612
2025-03-02     557
2025-03-09     614
2025-03-16     471
2025-03-23    1133
2025-03-30     809
2025-04-06     472
2025-04-13    1040
2025-04-20    1068
2025-04-27    1014
2025-05-04     536
2025-05-11     868
2025-05-18     637
2025-05-25     416
2025-06-01     368
2025-06-08     267
Freq: W-SUN, dtype: int64

In [14]:
print('친스 회원가입자 수는 (t_user 중에서 di 없는 유저만)')
t_user_df['date'] = t_user_df['created_at'].apply(lambda x: f'{x[:10]}')
t_user_df['date'] = pd.to_datetime(t_user_df['date'])

temp_df = t_user_df[t_user_df['date'] >= datetime(2025, 1, 1)]
merge_df = pd.merge(temp_df, auth_df[['id', 'ci', 'di', 'user_id']], left_on='pbuser_id', right_on='user_id', how='left')
merge_df = merge_df[merge_df['di'].isna()]
merge_df.groupby(pd.Grouper(key='date', freq='W')).size()

친스 회원가입자 수는 (t_user 중에서 di 없는 유저만)

NameError: name 't_user_df' is not defined

In [ ]:
print('친스 회원가입자 수는 (di 없는 유저만)')
auth_df_di = auth_df[auth_df['di'].isna()]
auth_df_di['created_at'] = pd.to_datetime(auth_df_di['created_at'], format='mixed')
auth_df_di.groupby(pd.Grouper(key='created_at', freq='W')).size()